{% extends "tests_app/base.html" %}
{% load static %}
{% block title %}
    Your test_order
{% endblock %}
{% block content %}
    <h1>Корзина заказов</h1>
    <table class="cart">
        <thead>
        <tr>
            <th>type_test</th>
            <th>name</th>
            <th>price</th>
            <th>base_unit</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            test. {% with test=item.test %}
            <tr>
                <td>test.type_test</td>
                <td>test.name</td>
                <td>test.price</td>
                <td>test.base_unit</td>
            </tr>
        {% endwith %}
        {% endfor %}
        </tbody>
    </table>
    <p class="text-right">
        <a href="{% url "tests_app:test_list" %}" class="button">Продолжить оформление заявок</a>
        <a href="#" class="button">Продолжить</a>
    </p>
{% endblock %}