{% extends "tests_app/base.html" %}
{% load static %}
{% block title %}
    Корзина заказов
{% endblock %}
{% block content %}
    <h1>Корзина заказов</h1>
    <table class="cart">
        <thead>
        <tr>
            <th>Количество</th>
            <th>Категория испытания</th>
            <th>Наименование испытания</th>
            <th>Цена за одно испытание</th>
            <th>Стоимость</th>
            <th>Базовая единица</th>


        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with test=item.test %}
                <tr>
                    <td>{{ item.quantity }}</td>
                    <td>{{ test.type_test }}</td>
                    <td>{{ test.name }}</td>
                    <td>{{ test.price }}</td>
                    <td>{{ item.total_price }}</td>
                    <td>{{ test.base_unit }}</td>
                    <td><a href="{% url "cart:cart_remove" test.id %}">Удалить</a></td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td bgcolor="#f0ffff">Общая стоимость испытаний по заявке</td>
            <td colspan="3" bgcolor="#f0ffff"></td>
            <td class="num" bgcolor="#f0ffff">{{ cart.get_total_price }}</td>
        </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="{% url "tests_app:test_list" %}" class="button">Продолжить оформление заявок</a>
        <a href="{% url "orders:order_create" %}" class="button">Оформить!!</a>
    </p>
{% endblock %}